.tooltip {
  position: relative;
  display: inline-block;
  padding: 10px 4px;
  z-index: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: fit-content;
  margin: auto;
  background-color: rgb(9, 44, 90);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  right: -80%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
